<!--link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
<nav>
    <div class="nav-wrapper">
        <a routerLink="" class="brand-logo right">Rotas Ng2</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a (click)="logout()" *ngIf="mostrarMenu; else login">Logout</a></li>
            <ng-template #login>
                <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
            </ng-template>                    
            <li routerLinkActive="active"><a routerLink="">Home</a></li>
            <li routerLinkActive="active" *ngIf="mostrarMenu"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>   
            <li routerLinkActive="active" *ngIf="mostrarMenu"><a routerLink="/alunos" >Alunos</a></li>  
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>